<div class="col-md-6 d-inline-block nopadding aling-top">
  <p>위성</p>
  <div class="satellite-table">
    <kendo-treeview textField="text" [nodes]="satellitedata" [children]="children" [hasChildren]="hasChildren"
      kendoTreeViewExpandable>
    </kendo-treeview>
  </div>
</div><div class="col-md-6 d-inline-block nopadding aling-top">
  <p>위성 데이터 저장소</p>
  <div class="store-table">
    <kendo-treeview textField="text" [nodes]="storedata" [children]="children" [hasChildren]="hasChildren"
      kendoTreeViewExpandable>
    </kendo-treeview>
  </div>
</div>