<div class="col-md-1 d-block nopadding"></div>
<div class="col-md-10" *ngIf="recInfo">
  <div class="row header">
    <div class="recSelecor col-md-12 nopadding">
      <app-rec-selector [recInfo]="recInfo"></app-rec-selector>
    </div>
  </div>

  <div class="row contents">
    <div class="fileViewer col-md-9 nopadding row">
      <app-file-viewer class="col-md-12 nopadding"></app-file-viewer>
    </div>

    <div class="currentFile col-md-3 nopadding">
      <app-current-file [recInfo]="recInfo"></app-current-file>
    </div>
  </div>

  <div class="row footer">
    <div class="serverStatus col-md-12 nopadding">
      <app-server-status [clusterInfo]="clusterInfo"></app-server-status>
    </div>
  </div>
</div>
<div class="col-md-1 d-block nopadding"></div>