<div class="col-md-1 d-block"></div>
<div class="col-md-10" *ngIf="recInfo">
  <div class="row header">
    <div class="recSelector col-md-6">
      <app-rec-selector [recInfo]="recInfo"></app-rec-selector>
    </div>
  </div>

  <div class="row contents">
    <div class="fileViewer col-md-10">
      <app-file-viewer></app-file-viewer>
    </div>

    <div class="currentFile col-md-2">
      <app-current-file [recInfo]="recInfo"></app-current-file>
    </div>
  </div>

  <div class="row footer">
    <div class="serverStatus col-md-9">
      <app-server-status [clusterInfo]="clusterInfo"></app-server-status>
    </div>
  </div>
</div>
<div class="col-md-1 d-block"></div>