<div class="frame" *ngIf="recInfo">
  <div class="header">
    <div class="recSelector">
      <div *ngFor="let mode of objectKeys(recInfo)" class="recButtonHolder">
        <button [ngClass]="{onModeButton: recInfo[mode].running, offModeButton: !recInfo[mode].running}" id={{mode}}
          (click)="clickRecMode(mode)">{{mode}}</button>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="fileViewer">
      <app-file-viewer></app-file-viewer>
    </div>

    <div class="nav">
      <div class="recTimeSelector">
        <div *ngFor="let mode of objectKeys(recInfo)">
          <div>{{mode}} <input [disabled]=recInfo[mode].running type="text" class="intervalBox" id={{mode}} value={{recInfo[mode].interval}}></div>
        </div>
      </div>

      <div class="currentFile">
        <div *ngFor="let mode of objectKeys(recInfo)">
          <div>{{mode}}<input type="text" [disabled]=!recInfo[mode].running cols="10" rows="1" readonly=true [value]="recInfo[mode].running ? recInfo[mode].satellite_file : ''"></div>
        </div>
      </div>
    </div>
  </div>

  <div class="footer">
    <div class="statusView">
      <div *ngFor="let server of objectKeys(clusterInfo)" class="serverBoxHolder">
        <div [ngClass]="{serverBox: clusterInfo[server].connected, brokeServerBox: !clusterInfo[server].connected}">
          {{server}}
          <br>
          {{clusterInfo[server].address}}
        </div>
      </div>
    </div>
  </div>

  <button (click)="showData()">show data</button>
</div>