<div class="row container">
  <div *ngFor="let mode of objectKeys(recInfo)" class="btn-group mr-2 recSelector">
    <div  class="recButtonHolder">
      <button class='btn btn-lg btn-block' [class.btn-success]=" recInfo[mode].running" [class.btn-danger]="!recInfo[mode].running" id={{mode}}
        (click)="clickRecMode(mode)">{{mode}}</button>
    </div>
  </div>

  <div class="recTimeSelector col-sm-3">
    <div *ngFor="let mode of objectKeys(recInfo)">
      <div>{{mode}} <input [disabled]=recInfo[mode].running type="text" class="intervalBox" id={{mode}} [(ngModel)]="recInfo[mode].interval"></div>
    </div>
  </div>
</div>